@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Onest";
  src: local("Onest"),
    url("./assets/fonts/OnestRegular1602-hint.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Onest";
  src: local("Onest"),
    url("./assets/fonts/OnestThin1602-hint.woff") format("woff");
  font-weight: 100;
}
@font-face {
  font-family: "Onest";
  src: local("Onest"),
    url("./assets/fonts/OnestMedium1602-hint.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Onest";
  src: local("Onest"),
    url("./assets/fonts/OnestLight1602-hint.woff") format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "Onest";
  src: local("Onest"),
    url("./assets/fonts/OnestExtraBold1602-hint.woff") format("woff");
  font-weight: 800;
}

:root {
  font-family: Onest, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
  margin-bottom: 48px;
  align-items: center;
  list-style: none;
  width: 100%;
}

.page-previous-item,
.page-next-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #213547;
  padding: 8px 16px;
  border-radius: 12px;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  h1 {
    color: #213547;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #ffffff;
    background-color: #242424;
  }
  h1 {
    color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #2d2d2d;
  }
}